@tailwind base;
@tailwind components;
.title {
    @apply text-5xl text-center;
    color: green;
    line-height: 1.15;
}

.body {
    max-width: 1200px;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}

@tailwind utilities;